In [ ]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

# A database is a structured collection of data that is stored and managed electronically. It allows users to efficiently store, retrieve, modify, and delete data. 

# SQL Databases:
# SQL (Structured Query Language) databases are relational databases that use tables to store data.
# Data is stored in a structured format with predefined schemas (tables with rows and columns).
# Examples: MySQL, PostgreSQL, Oracle, MS SQL Server.

# NoSQL Databases:
# NoSQL databases are non-relational and can store data in various formats (key-value pairs, document-based, graph-based, etc.).
# Data can be semi-structured or unstructured.
# Examples: MongoDB, Cassandra, CouchDB, Redis.

In [ ]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# DDL (Data Definition Language) is a set of SQL commands used to define, modify, and delete the structure of database objects like tables, indexes, and schemas.

# CREATE: Used to create a new database object (like a table). Example: CREATE TABLE Students (ID INT, Name VARCHAR(100));
# DROP: Used to delete an existing database object. Example: DROP TABLE Students;
# ALTER: Used to modify an existing database object (e.g., adding or removing columns). Example: ALTER TABLE Students ADD Age INT;
# TRUNCATE: Used to remove all rows from a table without deleting the structure of the table. Example: TRUNCATE TABLE Students;

In [ ]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

# DML (Data Manipulation Language) is used for managing data within schema objects. It allows you to insert, update, or delete data.

# INSERT: Adds new data to a table. Example: INSERT INTO Students (ID, Name, Age) VALUES (1, 'John', 21);
# UPDATE: Modifies existing data in a table. Example: UPDATE Students SET Age = 22 WHERE ID = 1;
# DELETE: Removes data from a table. Example: DELETE FROM Students WHERE ID = 1;

In [ ]:
# Q4. What is DQL? Explain SELECT with an example.

# DQL (Data Query Language) is used to query and retrieve data from a database.
# SELECT: Retrieves data from one or more tables based on a condition. Example: SELECT Name, Age FROM Students WHERE Age > 20;

In [ ]:
# Q5. Explain Primary Key and Foreign Key.

# Primary Key: A unique identifier for a record in a table. It cannot have NULL values, ensuring that each record is distinct. Example: In a Students table, ID can be the primary key.
# Foreign Key: A column or a set of columns in a table that refers to the primary key in another table. It establishes a relationship between two tables. Example: In an Enrollments table, Student_ID can be a foreign key referencing ID in the Students table.

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

# Establish a connection to the database
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='your_password',
    database='your_database'
)

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Execute a SQL query using the execute() method
cursor.execute("SELECT * FROM Students")

# Fetch the result
result = cursor.fetchall()
for row in result:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

# cursor(): This method creates a cursor object, which is used to interact with the database. The cursor allows you to execute SQL queries and fetch results.
# execute(): This method executes a SQL query or command. It is used for SELECT, INSERT, UPDATE, DELETE, and other operations.

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.

# The order of execution of SQL clauses is as follows:

# FROM: Specifies the table(s) to retrieve data from.
# JOIN: Combines rows from two or more tables based on a related column.
# WHERE: Filters rows based on a condition.
# GROUP BY: Groups rows that have the same values into summary rows.
# HAVING: Filters the groups created by GROUP BY.
# SELECT: Specifies the columns to be returned in the result.
# DISTINCT: Removes duplicate rows.
# ORDER BY: Sorts the result set by one or more columns.
# LIMIT: Restricts the number of rows returned.